.logo {}

.logo img {
    width: 133px;
}

nav {
    display: flex;
    width: 100vw;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(https://static.ieplads.com/bmsjs/banners/99acres-hp/1366/1366-banner-1.jpg);
    wid
}

.right ul {
    display: flex;
    gap: 35px;
}

.right ul li {
    list-style: none;
}

.right ul li button {
    margin: 1px;
    padding: 1px;
    background-color: white;
}

.right ul li img {
    width: 30px;
    height: 30px;
}

.container {
    width: 100vw;
}



.container .card .row ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.card {
    border: 2px solid gray;
    border-radius: 20px;
    margin-left: 90px;
    margin-right: 90px;
}

.row1 ul li {
    list-style: none;
}

.row2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.col2 button img {
    width: 10px;
    height: 10px;
    margin: 1px;
    padding: 1px;
    align-items: center;
}
